<app-card [data]="graph" style="max-width:100%;">
    <div class="col-auto p-0 py-1 mb-3 badge-content" [ngStyle]="{'backgroundColor': graph.bgColor}">
        <p-chart [type]="graph.type" [data]="graph.generalSetting" [responsive]="false" [options]="graph.styleSetting" style="max-width:100%;"></p-chart>
    </div>
    <div class="body-content">
        <h5>{{graph.title}}</h5>
        <small class="card-title text-secondary">{{graph?.subTitle}}</small>
    </div>
    <small class="footer-content">
        <span class="text-secondary"><i [class]="graph.icon.name"></i> &nbsp;
            {{graph?.footer}}</span>
    </small>
</app-card>